/* .row{
    border: 2px dashed red;
}

.col-6 , .col-12{
    border: 2px dashed green;
} */

.h-color , .c-color{
    background-color: #2c3e50;
}

.j-color{
    background-color: #1abc9c;
}

.f-color{
    background-color: #3a546d;
}

.color-ham{
    filter: invert(0.7);
}

.avatar{
    max-width: 200px;
}

.portfolio{
    max-width: 300px;
}